
<div class="container centered" style="width:40%">
  <h1>Create Group Playlist</h1>
  <%= simple_form_for :post, url: group_playlists_path, method: :post do |f| %>

    <%= render partial: "/shared/errors", locals: {target: @playlist} %>

    <div class="form-group">
      <h2> <%= f.label :name, "name:"%></h2>
      <%= f.text_field :name, class: "form-control"%>
      <br>
    </div>

    <div class="form-group">
      <h2><%= f.label :description, "description:"%></h2>
      <%= f.text_field :description, class: "form-control" %>
      <br>
    </div>

    <div class="form-group">
      <h2 class="form-text">service:</h2>
      <span class:"something"><%= f.collection_select :platform_id, Platform.all, :id, :name %></span>
      <br>
    </div>

    <div class="form-group">
      <h2 class="form-text">genre:</h2>
      <%= f.select(:genre, @playlist.genres, {}, { :class => 'form-control' }) %>
      <br>
    </div>

    <div class="form-group">
      <div class="checkbox">
        <% @friends.each do |friend| %>
        <%= check_box_tag 'fb_ids', friend['id'], false, id:"#{friend['name'].split[1]}" %>
        <%= f.label friend['name'] %> <br>
        <% end %>
      </div>
      <br>
    </div>

    <div class="form-group">
      <%= f.submit "Create Playlist", class:"btn btn-primary btn-lg active logout-button" %>
    </div>
  <% end %>
</div>
